@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Overall Application color scheme
$primary_color: #2f2f2f;
$secondary_color: #fbfef9;
$tertiary_color: #6d4cd8;
$accent_color: #df4e4e;

// context colors
$brown: #f19953;
$gray: #a4a5a3;

// fonts and weights
$global_font_family: "Inter", sans-serif;
