@import "../../styles/variables";

// styles for navigation component starts here

.navigation_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 64px;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  background-color: $primary_color;
  height: 92px;

  img {
    width: 155px;
    height: 21px;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 28px;

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }
}

// end of navigation component styles
