@import "../../styles/variables";

.intro_header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 245px;

  // styles for the text-intro

  .text_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 44px;

    .heading_text {
      font-size: 40px;
      font-weight: 700;
      display: flex;
      color: #df4e4e;
      justify-content: center;
      align-items: center;

      .typing_text {
        overflow: hidden;
        border-right: 2px solid;
        white-space: nowrap;
        transition: all ease-in-out;
        animation: typing 3s steps(15, end), blink-caret 0.75s step-end infinite;

        span {
          color: $tertiary_color;
        }
      }

      img {
        width: 216;
        height: 49px;
      }
    }
    p {
      width: 274px;
      height: 100px;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      flex-direction: column;
      gap: 15px;

      span {
        display: block;
        color: $tertiary_color;
        font-weight: 500;
        font-style: italic;
      }
    }
  }

  // styles for the image-intro

  .image_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 333px;

    .image_container {
      position: relative;
      height: 333px;
      width: 333px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        pointer-events: none;
      }

      .main_image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      a img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

// animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $secondary_color;
  }
}
