@import "../styles/variables";

// scss for SampleWorks Layout starts here --

.sample_works_header_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    text-align: center;
    font-size: 36px;
    color: $tertiary_color;
    margin: auto;
    padding: 1em 0;
  }

  p {
    text-align: start;
    font-size: 25px;
    font-weight: 500;
    padding: 25px 200px;

    span {
      color: $accent_color;
    }
  }

  h6 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 1em;
    width: 100%;
  }
}

// MEDIA RESPONSIVENESS

@media screen and (width: 576px) {
  .sample_works_header_layout {
    p {
      font-weight: 500;
      padding: 25px 80px;
    }
  }
}

@media screen and (width: 375px) {
  .sample_works_header_layout {
    p {
      font-size: 25px;
      font-weight: 400;
      padding: 25px 30px;
    }
  }
}
